<div class="bg-above-the-fold">
    <section class="max-width-aot">

        <div class="header-aot">
            <app-nav-bar></app-nav-bar>
        </div>

        <app-title></app-title>

        <app-keywords-marquee></app-keywords-marquee>

        <div class="leterals">
            <div class="left-leteral">
                <a href="#about-me">
                    <div class="arrow-container">
                        <img src="assets/img/oval_empty.png" alt="">
                        <img class="single-arrow" src="assets/img/arrow_down_single.png" alt="">
                    </div>
                </a>
                <div class="left-leteral-vector"></div>
            </div>
                
            <div class="right-leteral">

                <div class="email-contact">
                    <a class="contact-email" href="mailto:kontakt@christopher-hampel.de">kontakt&#64;christopher-hampel.de</a>
                    <div class="social-icon">
                        <a href="mailto:kontakt@christopher-hampel.de">
                            <img src="assets/img/contact_icon.png" class="icon">
                            <img src="assets/img/Mail Hover.png" class="icon-hover">
                        </a>
                    </div>
                </div>

                <div class="social-icon">
                    <a target="_blank" href="https://github.com/christopherHampel">
                        <img src="assets/img/Github.png" class="icon">
                        <img src="assets/img/GitHub_Hover.png" class="icon-hover">
                    </a>
                </div>

                <div class="social-icon">
                    <a target="_blank" href="#">
                        <img src="assets/img/Linkedin.png" class="icon">
                        <img src="assets/img/Linkedin Hover.png" class="icon-hover">
                    </a>
                </div>
                <div class="right-leteral-vector"></div>
            </div>
            
        </div>
</section>
</div>



