<div class="bg-above-the-fold">
    <section class="max-width">
        <p></p>
        <app-title></app-title>
        <app-keywords-marquee></app-keywords-marquee>
        <div class="leterals">
            <div class="left-leteral">
                <img src="assets/img/scroll_down_icon.png" alt="Scroll down">
                <div class="left-leteral-vector"></div>
            </div>
                
            <div class="right-leteral">
                <a href="mailto:">kontakt&#64;christopher-hampel.de</a>
                 <img src="assets/img/Github.png" alt="Github">
                <img src="assets/img/Linkedin.png" alt="LinkedIn">
                <div class="right-leteral-vector"></div>
            </div>
        </div>
</section>
</div>



