@import './../../../styles.scss';

@mixin iconHover($bgImage, $bgImageHover, $width, $height) {
    // transition: all 25ms ease-in;
    width: $width;
    height: $height;
    background-image: $bgImage;
    background-repeat: no-repeat;
    background-position: center;

    &:hover {
        background-image: $bgImageHover;
    }
}

section {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.header-aot {
    width: 100%;
}

.bg-above-the-fold {
    background: linear-gradient(55.22deg, #1C1C1C 36.26%, #08463B 93.28%);
}

app-keywords-marquee {
    width: 100%;
}

.leterals {
    position: absolute;
    bottom: 0;
    @include flexBox(row, space-between, flex-end, 1186px);
}

.left-leteral {
    @include flexBox(column, center, center, 24px);
    >img {
        width: 30px;
        height: 48px;
    }
    >.left-leteral-vector {
        height: 240px;
        width: 1px;
        background-color: rgba(61, 207, 182, 1);
    }
}

.right-leteral {
    @include flexBox(column, center, center, 24px);
    >img {
        width: 32px;
        height: 32px;
    }
}

.email-contact {
    >.contact-email {
        text-decoration: none;
        writing-mode:vertical-rl;
        transform: rotate(180deg);
        @include styleFont('Karla', 18px, 400, 21.6px, #FFFF);

        &:hover {
            color: #3DCFB6;
        }
    }
}

// .responsive-contact-icon {
//     @include iconHover(url('./../../../assets/img/contact_icon.png'), url('./../../../assets/img/Mail\ Hover.png'), 64px, 32px);
//     display: none;
// }

.arrow-container {
    position: relative;
    display: inline-block;
}

.single-arrow {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: moveScrolldown .75s linear infinite;
}

@keyframes moveScrolldown {
    0% {
        transform: translate(-50%, -50%);
    }
    50% {
        transform: translate(-50%, -0%);
    }
    100% {
        transform: translate(-50%, -50%);
    }
}

.right-leteral-vector {
    height: 186px;
    border: 1px solid #FFFF;
}

.social-icon {
    position: relative;
    min-width: 32px;
    height: 32px;
}

.social-icon img {
    position: absolute;
    top: 0;
}

.icon-hover {
    opacity: 0;
}

.social-icon:hover .icon-hover {
    opacity: 1;
}

.social-icon:hover .icon {
    opacity: 0;
}

@media(max-width: 1440px) {
    .leterals {
        padding: 0 40px;
        width: 100%;
        gap: 0px;
    }
}

@media(max-width: 900px) or (max-height: 1000px) {
    .right-leteral-vector {
        height: 120px;
    }

    .left-leteral-vector {
        height: 150px;
    }

    .leterals {
        padding-left: 12px;
    }
}

@media(max-width: 750px) or (max-height: 1000px) {
    .contact-email {
        display: none;
    }

    .responsive-contact-icon {
        display: block;
    }
}

@media(max-width: 550px) or (max-height: 900px) {
    .left-leteral {
        >.left-leteral-vector {
            height: 100px;
        }
    }

    .right-leteral {
        gap: 8px;
    }

    .right-leteral-vector {
        height: 80px;
    }

    .leterals {
        padding-right: 12px;
    }
}