<div class="bg-above-the-fold">
    <section class="max-width">
        <p></p>
        <app-title></app-title>
        <app-keywords-marquee></app-keywords-marquee>
        <div class="leterals">
            <div class="left-leteral">
                <a class="scroll-down" href="#about-me"></a>
                <div class="left-leteral-vector"></div>
            </div>
                
            <div class="right-leteral">

                <div class="email-contact">
                    <a class="contact-email" href="mailto:">kontakt&#64;christopher-hampel.de</a>
                    <a class="responsive-contact-icon" href="mailto:"></a>
                </div>
                <a class="github-icon" href="#"></a>
                <a class="linkedin-icon" href="#"></a>
                <div class="right-leteral-vector"></div>
            </div>
        </div>
</section>
</div>



