@import './../../../styles.scss';

.technologies {
    @include flexBox(row, center, center, 80px);
}

.declarations-skill-set {
    width: calc(520px + 96px);
    padding-left: 96px;
}

.content-skillset {
    @include flexBox(column, flex-start, flex-start, 32px);
}

.font-karla-16 {
    @include styleFont('Karla', 16px, 400, 19.2px, #FFFF);
}

.skill-set-icons {
    width: calc(632px + 96px);
    // padding-left: 96px;
    flex-wrap: wrap;
    @include flexBox(row, flex-start, flex-start, 72px);
}

.single-technology {
    width: 104px;
    @include flexBox(column, center, center, 8px);
    >img {
        width: 60px;
        height: 60px;
        transition: ease-in 150ms;
        &:hover {
            transform: scale(1.1);
        }
    }
    >span {
        @include styleFont('Fira Code', 18px, 400, 21.6px, #FFFF);
        letter-spacing: -3%;
        text-align: center;
    }
}