<section id="technologies" class="technologies max-width">

    <div class="information-box declarations-skill-set">
        <h2>{{ 'technologies.h2' | translate }}</h2>

        <div>
            <h3>{{ 'technologies.h3' | translate }}</h3>

            <div class="content-skillset">
                <p>{{ 'technologies.introductoryText' | translate }}</p>

                <span>{{ 'technologies.youneed' | translate }} <span>{{ 'technologies.anotherskill' | translate }}</span></span>
    
                <p class="font-karla-16">{{ 'technologies.invitationContact' | translate }}</p>
            </div>
            <button class="main-button"><span class="main-button-content">{{ 'technologies.letstalk' | translate }}</span></button>
        </div>
    </div>

    <div class="skill-set-icons">

        @for (technology of technologies; track $index) {
            <div [ngClass]="$index == technologies.length - 1 ? 'tooltip' : ''" class="single-technology">
                <span [ngClass]="{'tooltiptext': $index === technologies.length - 1, 'vs-hidden': true}">
                    <div>
                        <span>{{ 'technologies.specialinteresting' | translate }}</span>
                        <div class="interested-technologies">
                            <div>
                                <img src="assets/img/React Js.png" alt="">
                            </div>
                            <div>
                                <img src="assets/img/Frame 302.png" alt="">
                            </div>
                        </div>
                    </div>
                </span>

                <img [src]="'assets/img/' + technology +'.png'" alt="">
                <span>{{ technology }}</span>
                <!-- <img src='{{ technology.image }}'>
                <span [ngClass]="{'technology-description': $index === technologies.length - 1}">{{ technology.description }}</span> -->
            </div>
        }
    </div>

</section>