@import './../../../../../styles.scss';
@import './../nav-bar.component.scss';

.responsive-menu {
    position: absolute;
    transform: translateX(50%);
    right: 50%;
    top: 40px;
    background: linear-gradient(55.22deg, #1C1C1C 36.26%, #08463B 93.28%);
    border: 1px solid #3DCFB6;
    border-radius: 30px;
    color: white;
    padding: 40px 77px;
    @include flexBox(column, flex-start, flex-start, 10px);
    animation: slideIn 500ms ease-out;
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateX(300%);
    }
    to {
        opacity: 1;
        transform: translateX(50%);
    }
}

@media(max-width: 550px) {
    .responsive-menu {
        padding: 40px 50px;
    }

    .nav-links {
        width: 100px;
    }
}