<div [ngClass]="isMenuOpen ? 'burger-menu-bg' : 'links'" (click)="toggleResponsiveMenu()">
    <div (click)="$event.stopPropagation()" *ngIf="isMenuOpen" class="responsive-menu">
        
        <div class="nav-links">
            <a (click)="toggleResponsiveMenu()" href="#about-me">{{ 'nav.aboutme' | translate }}</a>
        </div>
        <div class="nav-links">
            <a (click)="toggleResponsiveMenu()" href="#technologies">{{ 'nav.skills' | translate }}</a>
        </div>
        <div class="nav-links">
            <a (click)="toggleResponsiveMenu()" href="#portfolio">{{ 'nav.projects' | translate }}</a>
        </div>
        <div class="nav-links">
            <a (click)="toggleResponsiveMenu()" href="#contact-me">{{ 'nav.contact' | translate }}</a>
        </div>

        <div (click)="changeLanguageBurgermenu()" [ngClass]="english ? 'english' : 'german'" class="toggle-language"></div>
    </div>
</div>