* {
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    // font-family: 'Karla';
}

body {
  background-color: #1C1C1C;
}

/* karla-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Karla';
    font-style: normal;
    font-weight: 400;
    src: url('./assets/fonts/karla-v31-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* karla-700 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Karla';
    font-style: normal;
    font-weight: 700;
    src: url('./assets/fonts/karla-v31-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }

  /* fira-code-300 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Fira Code';
  font-style: normal;
  font-weight: 300;
  src: url('./assets/fonts/fira-code-v22-latin-300.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* fira-code-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Fira Code';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/fonts/fira-code-v22-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* fira-code-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Fira Code';
  font-style: normal;
  font-weight: 500;
  src: url('./assets/fonts/fira-code-v22-latin-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* fira-code-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Fira Code';
  font-style: normal;
  font-weight: 600;
  src: url('./assets/fonts/fira-code-v22-latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* fira-code-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Fira Code';
  font-style: normal;
  font-weight: 700;
  src: url('./assets/fonts/fira-code-v22-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

.font-karla-32 {
  font-family: 'Karla';
  font-size: 32px;
  font-weight: 400;
  line-height: 38.4px;
  color: #FFFF;
}

.font-karla-18 {
  font-family: 'Karla';
  font-size: 18px;
  font-weight: 400;
  line-height: 21.6px;
  color: #FFFFFFCC;
}

.max-width {
  width: 1440px;
  margin: 0 auto;
}

@mixin styleFont($fontFamily, $fontSize, $fontWeight, $lineWeight, $fontColor) {
  font-family: $fontFamily;
  font-size: $fontSize;
  font-weight: $fontWeight;
  line-height: $lineWeight;
  color: $fontColor;
}

@mixin flexBox($flexDirection, $justifyContent, $alignItems, $gap) {
  display: flex;
  flex-direction: $flexDirection;
  justify-content: $justifyContent;
  align-items: $alignItems;
  gap: $gap;
}

.main-button {
  border: 1px solid #FFFFFF;
  border-radius: 100px;
  padding: 12px 24px;
  background-color: transparent;
  color: #FFFF;
  cursor: pointer;
}

h2{
  @include styleFont('Karla', 24px, 500, 28.06px, #3DCFB6);
}

h3 {
  @include styleFont('Fira Code', 64px, 700, 64px, #3DCFB6);
  letter-spacing: -0.03em;
}


.information-box {
  @include flexBox(column, flex-start, flex-start, 20px);
  >div {
    @include flexBox(column, flex-start, flex-start, 40px);
    background: rgba(61, 207, 182, 0.1);
    border: 1px solid rgba(61, 207, 182, 1);
    border-radius: 30px;
    padding: 32px;
  }
  //for aboutme & skillset component
}
// html, body { height: 100%; }
// body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
