@import './../../../styles.scss';

.evaluations {
    height: 452px;
    @include flexBox(column, center, center, 64px);
    overflow: hidden;
    >div {
        @include flexBox(row, center, flex-start, 24px);
        >h2 {
            @include styleFont('Fira Code', 32px, 700, 41.98px, #3DCFB6);
            margin: 0;
        }
    }
}

.evaluations-carousel {
    height: 100%;
    position: relative;
    >div {
        @include flexBox(row, center, center, 60px);
    }
}

.review-box {
    position: absolute;
    top: 0;
    width: 600px;
    height: 240px;
    background-color: #26524B;
    @include flexBox(column, center, flex-start, 64px);
    @include styleFont('Karla', 18px, 400, 21.6px, #FFFF);
    padding: 48px;
    border: 1px solid #3DCFB6;
    border-radius: 24px;
    transition: transform 1s ease-in-out;
    // transition: all 1s ease-in-out;
    >.review-author {
        width: 100%;
        @include flexBox(row, flex-start, center, 16px);
        >div {
            flex: 1;
            height: 1px;
            background-color: #FFFF;
        }
    }
}

.blur-effect {
    position: absolute;
    top: 16.5px;
    overflow: hidden;
    z-index: 5;
    height: 240px;
    width: 1440px;
    pointer-events: none;
    background: linear-gradient(
        to right, 
        rgba(0, 0, 0, 0.5) 0%,
        rgba(255, 255, 255, 0) 10%,
        rgba(255, 255, 255, 0) 90%,
        rgba(0, 0, 0, 0.5) 100% 
    );
}

.ellipse-container {
    height: 100%;
}

.arrows-carousel {
    @include flexBox(row, center, center, 24px);
    >div {
        @include flexBox(row, center, center, 8px);
    }
    >img {
        &:hover {
            cursor: pointer;
        }
    }
}

.left-box {
    transform: translateX(calc(100% + 60px));
    top: 16.5px;
    z-index: 3;
    // display: block;
}

.middle-box {
    transform: translateX(0);
    height: 273px;
    z-index: 2;
    // display: block;
}

.right-box {
    transform: translateX(calc(-100% - 60px));
    top: 16.5px;
    z-index: 1;
    // display: block;
}

.out-box {
    transform: translateX(calc(200% + 120px));
    display: none;
}












// .carousel {
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     justify-content: center;
//     gap: 10px;
// }

// .arrow {
//     font-size: 24px;
//     background: none;
//     border: none;
//     cursor: pointer;
// }

// .box-container {
//     display: flex;
//     gap: 60px;
//     width: 1440px;
//     justify-content: center;
//     align-items: center;
//     overflow: hidden;
// }

// .box {
//     min-width: 700px;
//     height: 230px;
//     background-color: rgb(47, 91, 84);
//     display: flex;
//     align-items: center;
//     justify-content: flex-start;
//     font-size: 24px;
//     transition: all 3s ease-in-out;
//     overflow: hidden;
// }

// .box.active {
//     width: 600px;
//     // height: 274px;
//     flex-shrink: 0;
// }

// .overlap-blur-effect {
//     width: 100%;
//     height: 230px;
//     position: absolute;
//     z-index: 2;
//     background: rgb(47, 91, 84);
//     backdrop-filter: blur(10px);
// }