@import './../../../styles.scss';

.evaluations {
    @include flexBox(column, center, center, 64px);
    >div {
        // @include flexBox(row, center, center, 24px);
        >h2 {
            @include styleFont('Fira Code', 32px, 700, 41.98px, #3DCFB6);
            margin: 0;
        }
    }
}

.evaluations-carousel {
    height: 360px;
    transition: transform 0.5s ease;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    gap: 80px;
}


.review-box {
    flex-shrink: 0;
    height: 360px;
    width: 600px;
    position: absolute;
    background-color: #26524B;
    @include flexBox(column, center, flex-start, 64px);
    @include styleFont('Karla', 18px, 400, 21.6px, #FFFF);
    padding: 40px;
    border: 1px solid #3DCFB6;
    border-radius: 32px;
    transition: transform 1s ease-out;
    >div {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap:16px;
    }
}

.review-name {
    display: flex;
    align-items: center;
    gap: 16px;
    >div {
        flex: 1;
        height: 1px;
        width: 100%;
        background-color: #FFFF;
    }
}

.blur-effect {
    position: absolute;
    // top: 16.5px;
    overflow: hidden;
    z-index: 5;
    height: 360px;
    width: 1440px;
    pointer-events: none;
    background: linear-gradient(
        to right, 
        rgba(0, 0, 0, 0.5) 0%,
        rgba(255, 255, 255, 0) 10%,
        rgba(255, 255, 255, 0) 90%,
        rgba(0, 0, 0, 0.5) 100% 
    );
}

.ellipse-container {
    height: 100%;
}

.arrows-carousel {
    @include flexBox(row, center, center, 24px);
    >div {
        @include flexBox(row, center, center, 8px);
    }
    >img {
        &:hover {
            cursor: pointer;
        }
    }
}

.left-box {
    transform: translateX(calc(-100% - 60px));
    z-index: 2;
}

.middle-box {
    transform: translateX(0);
    z-index: 2;
}

.right-box {
    transform: translateX(calc(100% + 60px));
    z-index: 1;
}

.normal-ellipse {
    background-image: url('./../../../assets/img/Ellipse\ 3.png');
    background-repeat: no-repeat;
    width: 8px;
    height: 8px;
}

.highlight-ellipse {
    background-image: url('./../../../assets/img/ellipse_highlight.png');
    background-repeat: no-repeat;
    width: 8px;
    height: 8px;
}

@media(max-width: 1440px) {
    .blur-effect {
        width: 100%;
    }
}

@media(max-width: 900px) {
    .review-box {
        width: 500px;
    }

    .left-box {
        transform: translateX(calc(-100% - 40px));
    }
    
    .right-box {
        transform: translateX(calc(100% + 40px));
    }

    .blur-effect {
        display: none;
    }
}

@media(max-width: 650px) {

    .review-box {
        padding: 1em;
        width: 400px;
    }

    .left-box {
        transform: translateX(calc(-100% - 16px));
    }
    
    .right-box {
        transform: translateX(calc(100% + 16px));
    }

    .width-responsive-450 {
        width: 400px;
    }
}

@media(max-width: 450px) {
    .review-box {
        width: 300px;
    }

    .width-responsive-450 {
        width: 280px;
    }
}

@media(max-width: 400px) {

    .left-box {
        transform: translateX(calc(-100% - 8px));
    }
    
    .right-box {
        transform: translateX(calc(100% + 8px));
    }
}

@media(max-width: 350px) {
    .review-box {
        width: 280px;
    }
}