<section id="portfolio" class="portfolio max-width">
    <div class="portfolio-header">
        <h2>Portfolio</h2>

        <h3>{{ "portfolio.signature" | translate }}</h3>
    
        <span>{{ "portfolio.porfolioDescription" | translate }}.</span>
    </div>

    <div class="portfolio-menu">
        <div>
            @for (project of currentProjects; track $index) {
                <app-single-project
                    projectName="{{ project.projectName }}" 
                    projectSkills="{{ project.projectSkills }}"
                    projectImage="{{ project.projectImage }}"
                    projectDescription="{{ project.projectDescription }}"
                    [isFirstElement]="$index === 0"
                    [index]="$index"
                    [currentProjects]="currentProjects">
                </app-single-project>
            }
        </div>
    </div>
</section>