@import './../../../styles.scss';

.portfolio {
    // padding: 144px 112px;
    padding-bottom: 144px;
    @include flexBox(column, flex-start, center, 41px);
}

.portfolio-header {
    width: 100%;
    padding: 0 112px;
    @include flexBox(column, flex-start, flex-start, 41px);
    >span {
        width: 456px;
        @include styleFont('Karla', 18px, 400, 21.6px, #FFFF);
    }
}

@media(max-width: 1000px) {
    .portfolio-header {
        width: 568px;
        padding: 0;
    }
}

@media(max-width: 650px) {
    .portfolio-header {
        width: 400px;
        >span {
            width: 100%;
        }
    }
}

@media(max-width: 450px) {
    .portfolio-header {
        width: 290px;
    }
}