<section class="portfolio max-width">
    <div class="portfolio-header">
        <h2>Portfolio</h2>

        <h3>Featured Projects</h3>
    
        <span>Explore a selection of my work here - Interact with projects to see my skills in action.</span>
    </div>

    <div class="portfolio-menu">
        <div>
            @for (project of currentProjects; track $index) {
                <app-single-project
                    projectName="{{ project.projectName }}" 
                    projectSkills="{{ project.projectSkills }}"
                    projectImage="{{ project.projectImage }}"
                    projectDescription="{{ project.projectDescription }}"
                    [isFirstElement]="$index === 0"
                    [index]="$index"
                    [currentProjects]="currentProjects">
                </app-single-project>
            }
        </div>
    </div>
</section>