@import './../../../styles.scss';

section {
    @include flexBox(row, space-between, flex-start, 0);
    width: 1456.35px;
    height: 996px;
    padding: 144px 112px;
}

.declarations-about-me {
    width: 568px;
    padding-top: 98px;
}

.content-about-me {
    @include flexBox(column, flex-start, flex-start, 32px);
    >span {
        @include styleFont('Karla', 18px, 400, 21.6px, #FFFF);
    }
}

.enumerations-about-me {
    @include flexBox(column, flex-start, flex-start, 16px);
    >div {
        @include flexBox(row, flex-start, flex-start, 24px);
        >img {
            width: 32px;
            height: 32px;
        }
        >span {
            @include styleFont('Karla', 18px, 400, 21.6px, #FFFF);
        }
    }
}

.profile-container {
    position: relative;
}

.profile-image-size {
    width: 568px;
    height: 568px;
}

.profile-image {
    position: absolute;
    z-index: 1;
    object-fit: cover;
    border-radius: 30px;
    transition: opacity 0.3s ease;
    &:hover {
        cursor: pointer;
    }
}

.profile-image-hover {
    position: absolute;
    width: 568px;
    height: 568px;
    top: 20px;
    left: -20px;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.profile-container:hover .profile-image-hover {
    opacity: 1;
    cursor: pointer;
}

@media(max-width: 1440px) {
    section {
        flex-direction: column;
        align-items: center;
        gap: 0;
    }

    .profile-image {
        position: static;
    }
}

@media(max-width: 650px) {
    .profile-image-size {
        width: 400px;
        height: 400px;
    }

    .declarations-about-me {
        width: 400px;
    }
}

@media(max-width: 450px) {
    .profile-image-size {
        width: 358px;
        height: 358px;
    }
    
    .declarations-about-me {
        width: 358px;
    }
}

@media(max-width: 380px) {
    .profile-image-size {
        width: 290px;
        height: 290px;
    }
    
    .declarations-about-me {
        width: 290px;
    }
}