<section id="about-me" class="about-me max-width">
    <div class="profile-container">
        <img class="profile-image profile-image-size" src="assets/img/IMG-20231114-WA0013.jpg" alt="">
        <img class="profile-image-hover profile-image-size" src="assets/img/profile_image_hover.png" alt="">
    </div>

    <div class="information-box declarations-about-me">
        <h2>Who I Am</h2>
        <div>

            <!-- <h3>About me</h3> -->
            <h3>{{ 'aboutme.about-me' | translate }}</h3>

            <div class="content-about-me">

                <span>Hi, Im a german speaking Frontend Developer based in Munich. Motivated by the limitless opportunities within IT, I am excited about crafting visually captivating and intuitive websites and applications.</span>
                
                <div class="enumerations-about-me">
                    <div>
                        <img src="assets/img/Property 1=location_on.png" alt="">
                        <span class="font-karla-18">Flexible in terms of working environments, I can work effectively both on-site in Munich and remotely.</span>
                    </div>
                    <div>
                        <img src="assets/img/Property 1=cognition.png" alt="">
                        <span class="font-karla-18">I am open-minded and always looking for personal challenges to constantly improve my knowledge and skills.</span>
                    </div>
                    <div>
                        <img src="assets/img/Property 1=Quality.png" alt="">
                        <span class="font-karla-18">In my profession, programming isn't just about writing code; it's a creative form of problem-solving. I take pride in my ability to distill complex technical challenges into simple, user-friendly solutions. This way, I help you achieve your goals and bring your visions to life.</span>
                    </div>
                </div>

            </div>

        </div>
    </div>
</section>