@import './../../../styles.scss';

div {
    padding: 16px;
    border-radius: 50%;
    @include flexBox(column, center, center, 0);
    >span {
        @include styleFont('Fira Code', 18px, 700, 21.6px, #FFFF);
    }
    &:hover {
        cursor: pointer;
    }
}

span::first-letter {
    font-size: 24px;
    color: #3DCFB6;
}