@import './../../../styles.scss';

div {
    padding: 16px;
    border: 2px solid rgb(169,141,87);
    border-radius: 50%;
    @include flexBox(column, center, center, 0);
    >span {
        @include styleFont('Arapey', 18px, 700, 21.6px, rgb(169,141,87));
    }
    >.lastname {
        margin-top: -8px;
    }
}