<nav>
    <div class="nav-area">
        <div class="links">

            <div (click)="changeLanguage()" [ngClass]="english ? 'english' : 'german'" class="toggle-language"></div>
    
            <div class="nav-links">
                <a (click)="navigateToSection('about-me')">{{ 'nav.aboutme' | translate }}</a>
                <img src="./../../../../assets/img/radio_button_unchecked.png" alt="">
            </div>
    
            <div class="nav-links">
                <a (click)="navigateToSection('technologies')">{{ 'nav.skills' | translate }}</a>
                <img src="./../../../../assets/img/radio_button_unchecked.png" alt="">
            </div>        
            
            <div class="nav-links">
                <a (click)="navigateToSection('portfolio')">{{ 'nav.projects' | translate }}</a>
                <img src="./../../../../assets/img/radio_button_unchecked.png" alt="">
            </div>        
            
            <div class="nav-links">
                <a (click)="navigateToSection('contact-me')">{{ 'nav.contact' | translate }}</a>
                <img src="./../../../../assets/img/radio_button_unchecked.png" alt="">
            </div>
            
        </div>

    </div>

    <div class="rightside-nav">
        <app-logo></app-logo>
        <div>
            <img (click)="toggleResponsiveMenu()" class="burger-button" src="assets/img/burgermenu_button.png" alt="">
            <app-nav-burger-menu 
                [isMenuOpen]="isMenuOpen" 
                [english]="english" 
                (menuToggle)="onMenuToggle($event)"
                (languageChange)="changeLanguage()"></app-nav-burger-menu>
        </div>
    </div>
</nav>