<div class="dialog-overlay">

    <div class="dialog-content">

        <div class="project-details">

            <div class="number-and-name">
                <h4 class="current-number">{{ '0' + (index + 1)}}</h4>
                <span class="project-name">{{ title }}</span>
            </div>

            <div class="project-description">
                <h4>{{ 'projectDialog.h4' | translate }}</h4>
                <p>{{ description }} </p>
                <div class="dialog-skills">
                    @for (skill of skills; track $index) {
                        <div>
                            <img [src]="'assets/img/' + skill + '_color.png'" alt="{{ skill }}">
                            <span>{{ skill }}</span>
                        </div>
                    }
                </div>
            </div>

            <div class="more-links">
                <a target="_blank" href="{{ githubLink }}" class="main-button">
                    <span class="main-button-content">GitHub <img src="assets/img/arrow_outward.png" alt="arrow"></span>
                </a>
                <a target="_blank" href="{{ projectLink }}"  class="main-button">
                    <span class="main-button-content">Live Test <img src="assets/img/arrow_outward.png" alt="arrow"></span>
                </a>
            </div>

            <div class="next-project-responsiv" (click)="nextProject()">
                <span></span>
                <img src="assets/img/arrow_forward_color.png" alt="forward">
            </div>

        </div>

        <div class="image-and-dialog-steering">

            <div (click)="closeDialog()" class="close-button"></div>

            <div class="dialog-image">
                <img [src]="image" alt="">
            </div>

            <div class="next-project" (click)="nextProject()">
                <span>{{ 'projectDialog.nextProject' | translate }}</span>
                <img src="assets/img/arrow_forward_color.png" alt="forward">
            </div>

        </div>

    </div>

</div>