@import './../../../../styles.scss';

footer {
    padding: 80px 96px;
    >div {
        @include flexBox(row, space-between, center, 0);
    }
}

.personalities {
    @include flexBox(column, flex-start, flex-start, 24px);
    @include styleFont('Karla', 16px, 400, 19.2px, #FFFF);
    >.text {
        @include flexBox(column, flex-start, flex-start, 8px);
    }
}

.copyright {
    @include styleFont('Fira Code', 18px, 400, 21.6px, #3DCFB6);
    display: flex;
    gap: 8px;
}

.social-media {
    @include flexBox(column, flex-start, flex-start, 8px);
}

.footer-link {
    @include flexBox(row, flex-start, center, 8px);  
    >.hover-effect {
        opacity: 0;
    }
    >a {
        text-decoration: none;
        @include styleFont('Karla', 16px, 400, 19.2px, #FFFF);
        &:hover {
            color: #3DCFB6;
        }
    }
}

.footer-link:hover .hover-effect {
    opacity: 1;
}