<section id="contact-me" class="contact-me max-width">

    <div class="leftside">
        <div>
            <h2>{{ "contact.leftside.headline" | translate }}</h2>
            <h3>{{ "contact.leftside.signature" | translate }}</h3>
        </div>
        <div class="description">
            <h4>{{ "contact.leftside.question" | translate }}</h4>
            <p>{{ "contact.leftside.paragraph" | translate }}</p>
            <div class="last-paragraph">
                <p> {{ "contact.leftside.paragraphTwo" | translate }} <span>{{ "contact.leftside.letstalk" | translate }}</span></p>
            </div>
        </div>
    </div>

    <div class="rightside-formular">

        <form [formGroup]="contactData" (ngSubmit)="onSubmit()" novalidate>
            <div class="form-group">
              <label for="name">{{ "contact.rightside.name" | translate }}</label>
              <input
                id="name"
                type="text"
                formControlName="name"
                [placeholder]="'contact.rightside.namePlaceholder' | translate"
              />
              <div *ngIf="name.touched && name.invalid" class="error">
                {{ "contact.rightside.nameError" | translate }}
              </div>
            </div>
          
            <div class="form-group">
              <label for="email">{{ "contact.rightside.email" | translate }}</label>
              <input
                id="email"
                type="email"
                formControlName="email"
                pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}"
                placeholder="youremail@email.com"
              />
              <div *ngIf="email.invalid && (email.dirty || email.touched)" class="error">
                {{ "contact.rightside.emailError" | translate }}
              </div>
            </div>
          
            <div class="form-group">
              <label for="message">{{ "contact.rightside.message" | translate }}</label>
              <textarea rows="1"
                (keyup)="autoGrowTextZone($event)"
                id="message"
                formControlName="message"
                [placeholder]="'contact.rightside.messagePlaceholder' | translate">
              </textarea>
              <div *ngIf="message.invalid && (message.dirty || message.touched)" class="error">
                {{ "contact.rightside.messageError" | translate }}
              </div>
            </div>
          
            <div class="form-group responsive-checkbox">
                <label class="checkbox-label">
                <input
                    type="checkbox"
                    formControlName="privacyPolicy"
                />
                <span class="custom-checkbox">
                    <img src="assets/img/Check_mark.png" alt="Unchecked" class="unchecked" />
                    <img src="assets/img/Checked_mark.png" alt="Checked" class="checked" />
                </span>
                <span class="checkbox-description">
                  {{ "contact.rightside.checkPrivacyFirst" | translate }} <a href="/privacyPolice">{{ "contact.rightside.checkPrivacySecond" | translate }} </a>{{ "contact.rightside.checkPrivacyThird" | translate }}
                </span>
                </label>
                <div class="privacy-police-button">
                    <div *ngIf="privacyPolicy.invalid && (privacyPolicy.dirty || privacyPolicy.touched)" class="error">
                      {{ "contact.rightside.checkPrivacyError" | translate }}
                    </div>
                </div>
            </div>

            <div class="submitButton">
              <button [ngClass]="{'main-button': contactData.valid}" type="submit">
                <span      
                  [ngClass]="{'main-button-content': contactData.valid}">{{ "contact.rightside.submit" | translate }}</span>
              </button>
              <div *ngIf="formSubmitted && contactData.invalid" class="error">
                {{ "contact.rightside.submitError" | translate }}
              </div>
            </div>
            <app-message-feedback [showFeedback]="showFeedback"></app-message-feedback>
          </form>
    </div>


</section>