@import './../../../../styles.scss';
@import './../portfolio.component.scss';

.project {
    height: 109px;
    display: flex;
    align-items: center;
    >div {
        @include flexBox(row, space-between, center, 0);
    }
}

.required-skills {
    >span{
        @include styleFont('Karla', 18px, 400, 21.6px, #FFFF);
    }
}

.project-description {
    width: 880px;
    padding: 40px 32px;
    border-bottom: 1px solid #3DCFB6;
    transition: all 125ms ease;

    &:hover {
        background-color: rgba(61, 207, 182, 0.3);
        cursor: pointer;
    }
}

.project-name-link {
        @include flexBox(row, flex-start, center, 4px);
        >span {
            @include styleFont('Fira Code', 24px, 700, 28.8px, #FFFF);
        }
        >.hover-link-icon {
            transition: all 125ms ease;
            width: 23px;
            height: 23px;
            opacity: 0;
        }
}

.first-project {
    border-top: 1px solid #3DCFB6;
}

.hover-image {
    transition: all .5s ease;
    padding-left: 80px;
    width: 295px;
    height: 192px;
    opacity: 0;
}

.project:hover .hover-image {
    opacity: 1;
}

.project-description:hover .hover-link-icon {
    opacity: 1;
}

.project-image {
    position: absolute;
    z-index: 1;
}

.project-image-bg {
    position: relative;
    top: 20px;
    left: 23px;
}

dialogConfig {
    position: absolute;
    top: 100px;
    left: 50px;
}