@import './../../../../styles.scss';
@import './../portfolio.component.scss';

.project {
    height: 109px;
    display: flex;
    align-items: center;
    >div {
        @include flexBox(row, space-between, center, 0);
    }
}

.required-skills {
    @include flexBox(row, flex-start, center, 4px);
}

.project-description {
    width: 880px;
    padding: 40px 32px;
    border-bottom: 1px solid #3DCFB6;
    transition: all 125ms ease;

    &:hover {
        background-color: rgba(61, 207, 182, 0.3);
        cursor: pointer;
    }
}

.project-name-link {
        @include flexBox(row, flex-start, center, 4px);
        >span {
            @include styleFont('Fira Code', 24px, 700, 28.8px, #FFFF);
        }
        >.hover-link-icon {
            transition: all 125ms ease;
            width: 23px;
            height: 23px;
            opacity: 0;
        }
}

.first-project {
    border-top: 1px solid #3DCFB6;
}

.hover-image {
    transition: all .5s ease;
    padding-left: 80px;
    width: 295px;
    height: 192px;
    opacity: 0;
}

.project:hover .hover-image {
    opacity: 1;
}

.project-description:hover .hover-link-icon {
    opacity: 1;
}

.project-image {
    position: absolute;
    z-index: 1;
}

.project-image-bg {
    position: relative;
    top: 20px;
    left: 23px;
}

.skill {
    display: flex;
    align-items: center;
    gap: 4px;
    >span {
        @include styleFont('Karla', 18px, 400, 21.6px, #FFFF);
    };
}

.seperator-skills {
    height: 22px;
    width: 1px;
    background-color: #3DCFB6;
    display: block;
}

@media(max-width: 1400px) {
    .project {
        >div {
            padding-left: 0;
            position: absolute;
            right: 50%;
            transform: translateX(50%);
        }
    }

    .project-image {
        transform: translateX(50%)
    }
    
    .project {
        >div {
            width: 568px;
        }
    }
}

@media(max-width: 1000px) {
    .project-description {
        width: 568px;
    }
}

@media(max-width: 650px) {
    .project {
        height: auto;
        >div {
            flex-direction: column;
            align-items: flex-start;
            gap: 16px;
            right: 0;
            position: relative;
            transform: none;
        }
    }

    .hover-image {
        position: absolute !important;
        opacity: 0;
        height: 0;
        width: 0;
        overflow: hidden;
        visibility: hidden; 
    }
    
    .project-description {
        width: 400px;
    }

    .project {
        >div {
            width: 290px;
        }
    }
}

@media(max-width: 450px) {
    .project-description {
        width: 280px;
    }

    .project {
        >div {
            padding: 24px 0;
            position: relative;
            right: 0;
            transform: none;
        }
    }
}