<section class="project" (click)="showProjectDialog()">
    <div class="project-description" [ngClass]="{'first-project': isFirstElement}">
        <div class="project-name-link">
            <span>{{ projectName }}</span>
            <div class="hover-link-icon"><img src="assets/img/link_icon.png" alt=""></div>
        </div>
        <div class="required-skills">
            @for (skill of projectSkills; track $index) {
                <div class="skill">
                    <span>{{ skill }}</span>
                    <span class="seperator-skills" *ngIf="$index < projectSkills.length - 1"></span>
                </div>
            }
        </div>
    </div>

    <div class="hover-image">
        <img class="project-image" src="{{ projectImage }}" alt="">
        <img class="project-image-bg" src="assets/img/background_project_images.png" alt="">
    </div>
</section>