<section>
    <div class="carousel">    
        <div class="box-container">
            <div
                *ngFor="let review of displayedReviews; let i = index"
                [class.active]="i === middleIndex"
                [ngStyle]="animation ? {'transform': translateValues(i)} : {}"
                class="box">
                {{ review.name }}
            </div>
            <div class="overlap-blur-effect"></div>
        </div>

        <div class="arrows">
            <button class="arrow left" (click)="prev()">&#8592;</button>
            <button class="arrow right" (click)="next()">&#8594;</button>
        </div>
    </div>
</section>
