@import './../../styles.scss';

app-footer {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
}

div {
    padding: 0 96px;
}

h3, h2 {
    padding: 40px 96px;
}

p {
    @include styleFont('Karla', 16px, 400, 19.2px, #FFFF);
}

a {
    text-decoration: none;
    color: #FFFF;
}

@media(max-width: 500px) {
    div {
        padding: 0 24px;
    }

    h3, h2 {
        padding: 40px 24px;
    }

    h3 {
        font-size: 50px;
    }
}

@media(max-height: 775px) {
    app-footer {
        position: unset;
    }

    article {
        padding-bottom: 40px;
    }

    .max-width {
        padding: 0;
    }
}