<div class="marquee">

    <div class="marquee-content">
        <span><img src="assets/img/radio_button_unchecked.png" alt=""></span>
        <span>Frontend Developer</span>
        <span><img src="assets/img/radio_button_unchecked.png" alt=""></span>
        <span>Based in Fulda</span>
        <span><img src="assets/img/radio_button_unchecked.png" alt=""></span>
        <span>open for remote Work</span>
        <span><img src="assets/img/radio_button_unchecked.png" alt=""></span>
        <span>interested in new technologies</span>
    </div>

    <div class="marquee-content">
        <span><img src="assets/img/radio_button_unchecked.png" alt=""></span>
        <span>Frontend Developer</span>
        <span><img src="assets/img/radio_button_unchecked.png" alt=""></span>
        <span>Based in Fulda</span>
        <span><img src="assets/img/radio_button_unchecked.png" alt=""></span>
        <span>open for remote Work</span>
        <span><img src="assets/img/radio_button_unchecked.png" alt=""></span>
        <span>interested in new technologies</span>
    </div>

</div>