<footer class="max-width">
    <div class="">
        <div class="personalities">
            <div>
                <img src="#" alt="">
            </div>
            <div class="text">
                <span>Front End Developer</span>
                <span>Fulda Germany</span>
            </div>
        </div>

        <div class="copyright no-responsive">
            <span>&#169;</span>
            <span>Christopher Hampel 2024</span>
        </div>

        <div class="social-media">
            <div class="footer-link">
                <img class="hover-effect" src="assets/img/radio_button_unchecked.png" alt="">
                <a href="#">Github</a>
            </div>
            <div class="footer-link">
                <img class="hover-effect" src="assets/img/radio_button_unchecked.png" alt="">
                <a href="#">LinkedIn</a>
            </div>            <div class="footer-link">
                <img class="hover-effect" src="assets/img/radio_button_unchecked.png" alt="">
                <a href="#">Email</a>
            </div>            <div class="footer-link">
                <img class="hover-effect" src="assets/img/radio_button_unchecked.png" alt="">
                <a href="legal">Legal Notice</a>
            </div>
        </div>
    </div>

    <div class="copyright d-none">
        <span>&#169;</span>
        <span>Christopher Hampel 2024</span>
    </div>
</footer>