<div class="title">
    <p class="title-description">Frontend Developer</p>
    <div class="gap-40">
        <p class="title-name">Christopher Hampel</p>
        <div class="title-buttons z-index-50">
            <a href="#portfolio" class="main-button"><span class="main-button-content">{{ 'title.button.mywork' | translate }}</span></a>
            <a href="#portfolio" class="main-button"><span class="main-button-content">{{ 'title.button.contact' | translate }}</span></a>
        </div>
    </div>
</div>
